/** @format */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.picture1 {
  background-image: url(https://avatars.mds.yandex.net/i?id=af9fdd0b82e1c99cb1bd63a72a93b738e7f584f0-9240324-images-thumbs&n=13);
}
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 100);
  height: 150px;
  padding-top: 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
}
.probel_linia {
  text-decoration: underline rgb(77, 124, 129);
  text-decoration: overline;
  color: aquamarine;
}
.text-avtor {
  color: rgb(73, 150, 162);
}
.start2 {
  color: rgb(83, 143, 151);
  text-decoration: underline rgb(106, 141, 145);
}
/* .picture1 {}  */
nav {
  /* margin-top: --- пробел между верхним и нижними тегами */
  margin-top: 50px;
  /* font-size: --- размер буквы */
  font-size: 20px;
}
a {
  /* text-decoration:---- убирает нижний почерк линии a тега  */
  text-decoration: none;
  color: white;
  font-family: fantasy;
}
.section1 {
  text-align: center;
  /* background-color: aqua; */
  /*  border --- рамочная линия фона */
  border: 4px dashed rgb(100, 37, 16);
  height: 850px;
  width: 100%;
  background-image: url(https://goo.su/GrUkiW);
}
.section1 img {
  height: 230px;
  border-radius: 20%;
}
.text-demoniha {
  letter-spacing: -4px;
}
.section1 h2 {
  text-decoration: underline;
  color: rgb(29, 59, 63);
  text-transform: uppercase;
}

.section1 div {
  margin-top: 30px;
}
.section1 p {
  /* <!--"text-decoration: overline;"--- как начиртить на верх текста линию --> */
  text-decoration: overline;
  margin-top: 30px;
  color: aliceblue;
}

.section2 {
  text-align: center;

  background-image: url(https://i.ytimg.com/vi/jn3JW28UXfo/maxresdefault.jpg);
  background-size: contain;
  border: 4px dotted rgb(165, 128, 100);
  height: 850px;
  width: 100%;
}

.section2 img {
  height: 230px;
  border-radius: 20%;
  /* width: 50%; */
}

section h2 {
  color: white;
  font-family: cursive;
}
footer {
  background-color: black;
  background-image: url(https://avatars.mds.yandex.net/i?id=6472080db40607faccf5991761fbdc15eafa412a-8485406-images-thumbs&n=13);
  height: 200px;
  background-size: contain;
  color: rgb(178, 202, 193);
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

footer .the_end {
  text-align: center;
  padding: 90px;
}
.the_end span {
  color: rgb(230, 236, 234);
}
